body {
  background-color: #767676;
  margin: 0;
  padding: 0;
}

.container {
  background-color: darkgray;
  box-shadow: 45px 45px 45px rgba(0, 0, 0, 0.8);
  left: 50%;
  overflow: hidden;
  padding: 100px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.heart {
  animation: animate 1.5s linear infinite;
  background-color: #6f0112;
  height: 100px;
  position: relative;
  transform: rotate(45deg) translate(10px, 10px);
  width: 100px;
}

.heart::before {
  background-color: #6f0112;
  border-radius: 50%;
  content: '';
  left: 0;
  height: 100%;
  position: absolute;
  top: -50%;
  width: 100%;
}

.heart::after {
  background-color: #6f0112;
  bottom: 0;
  border-radius: 50%;
  content: '';
  height: 100%;
  position: absolute;
  right: 50%;
  width: 100%;
}

@keyframes animate {
  0% {
    transform: rotate(45deg) translate(10px, 10px) scale(1);
  }
  30% {
    transform: rotate(45deg) translate(10px, 10px) scale(1.25);
  }
  50% {
    transform: rotate(45deg) translate(10px, 10px) scale(1.1);
  }
  70% {
    transform: rotate(45deg) translate(10px, 10px) scale(1.25);
  }
  100% {
    transform: rotate(45deg) translate(10px, 10px) scale(1);
  }
}